@model InventoryV3.ViewModels.SystemUnitViewModel
@{
    ViewBag.Title = "Add System Unit";
}

<h2>Add System Unit</h2>

@using (Html.BeginForm("CreateSystemUnit", "Items"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.SerialNumber)
        @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", autofocus = "autofocus", placeholder = "Serial Number" })
        @Html.ValidationMessageFor(m => m.SerialNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ModelNumber)
        @Html.TextBoxFor(m => m.ModelNumber, new { @class = "form-control", placeholder = "Model Number" })
        @Html.ValidationMessageFor(m => m.ModelNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Processor)
        @Html.TextBoxFor(m => m.Processor, new { @class = "form-control", placeholder = "Processor Type" })
        @Html.ValidationMessageFor(m => m.Processor)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.HDD)
        @Html.TextBoxFor(m => m.HDD, new { @class = "form-control", placeholder = "HDD Size" })
        @Html.ValidationMessageFor(m => m.HDD)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Memory)
        @Html.TextBoxFor(m => m.Memory, new { @class = "form-control", placeholder = "Memory Size" })
        @Html.ValidationMessageFor(m => m.Memory)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OperatingSystem)
        @Html.TextBoxFor(m => m.OperatingSystem, new { @class = "form-control", placeholder = "Operating System" })
        @Html.ValidationMessageFor(m => m.OperatingSystem)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BrandID)
        @Html.DropDownListFor(m => m.BrandID, new SelectList(Model.Brands, "ID", "BrandName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BrandID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SupplierID)
        @Html.DropDownListFor(m => m.SupplierID, new SelectList(Model.Suppliers, "ID", "SupplierName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SupplierID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StatusID)
        @Html.DropDownListFor(m => m.StatusID, new SelectList(Model.Statuses, "ID", "StatusName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StatusID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpireDate)
        @Html.TextBoxFor(m => m.ExpireDate, new { @class = "form-control", placeholder = "Warranty Expiration Date" })
        @Html.ValidationMessageFor(m => m.ExpireDate)
    </div>

    <button class="btn btn-primary btn-sm" type="submit">Save</button>
    <button class="btn btn-default btn-sm" type="reset">Cancel</button>
    <br />
}
<br /><br />
<div>
    @Html.ActionLink("Back to List", "SystemUnit")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

