@model IEnumerable<InventoryV3.Models.Item>
@{
    ViewBag.Title = "Monitor";
}

<h2>Monitor</h2>

<p>
    @Html.ActionLink("Add Monitor", "CreateMonitor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyExpire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand1.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier1.SupplierName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyExpire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand1.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier1.SupplierName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMonitor", new { id = item.ID }) |
                @Html.ActionLink("Details", "MonitorDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteMonitor", new { id = item.ID })
            </td>
        </tr>
    }

</table>
